<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Work is still in progress</h3>
                <h1>Check back soon</h1>
                <h5>Meanwhile, if you wanna get in touch with me, take a look at</h5>
                <h5><a href="http://www.lucavandro.com">http://www.lucavandro.com</a></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->