<script type="text/javascript" src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/jquery.mobile.custom.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap/transition.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap/collapse.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap/carousel.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap/modal.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/details.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/loader.js" | prepend: site.baseurl }}"></script>