---
layout: post
title:  "Reggia di Caserta"
date:   2015-01-06 22:50:01
categories: branding
---

<div class="item active" data-caption="Welcome" data-slide-count="1">
  <header>
      <div class="col-sm-4">Benvenuti</div>
      <div class="col-sm-8">
            <div>Director: Paolo Caracciolo, raised in Caserta.</div>
            <div>DOP: Erme Rivezzi, born and raised in Caserta.</div>
            <div>Music: Domenico Cimarosa, born and raised in Caserta.</div>
      </div>
  </header>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-caption="An uknown treasure" data-slide-count="2">
  <header>
        <div class="col-sm-4">
            The Royal Palace of Caserta extends above the surface as it does below, it is more than two million cubic meters of extension which makes it the world’s largest royal residence, but it is also one of the least visited. The cultural value of the monument is high, the problem therefore lies in its communication design.
        </div>
  </header>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-caption="Bodoni" data-slide-count="3">
   <header>
        <div class="col-sm-4">
            In search of the most appropriate communication strategy, I traveled to Parma to attend the fair on the most famous typographer ever existed: Giambattista Bodoni. There I discovered that Bodoni, as well as being contemporary with respect to the construction of the building, has also worked for the rulers, font selection was therefore clear.
        </div>
  </header>
  <div class="clearfix full-height">
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#one">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/1.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#two">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/2.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#three">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/3.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#four">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/4.jpg" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item"  data-caption="Logotype" data-slide-count="4" id="logotype">
    <header>
        <div class="col-sm-4">
                The logotype, clean and simple for improved adaptation to any context, was built in reference to the typesetting era: Bodoni was able to build movable metal typefaces very close together, in this case, 0 kerning occurs between R and T.
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#logotype" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
                Font: Bodoni Roman 
                Kerning: optical
                Spacing correction: +50 (R/T)
            </div>
        </div>
    </header>
    <div class="flex-align-bottom full-height">
        <img class="base" src="{{ "/img/branding/reggia-caserta/logotipo.png" | prepend: site.baseurl }}" alt="...">
        <img class="overlay" src="{{ "/img/branding/reggia-caserta/costruzionelogotipo.png" | prepend: site.baseurl }}" alt="..." style="display:none;">
    </div>
</div>
<div class="item" data-caption="5" data-slide-count="4">
  <div class="clearfix full-height" data-toggle="modal" data-target="#planimetria-parco">
      <div class="col-sm-3 flex-align-bottom full-height">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/planimetria-parco.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3 flex-align-bottom full-height">
          <img src="{{ "/img/branding/reggia-caserta/costruzionemarchio3.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
  </div>
</div>
<div class="item" data-caption="6" data-slide-count="5">
    <div class="clearfix full-height">
        <div class="col-sm-3 flex-align-bottom" data-toggle="modal" data-target="#planimetria-parco">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/planimetria-parco.jpg" | prepend: site.baseurl }}" />
        </div>
        <div class="col-sm-6 flex-align-bottom" data-toggle="modal" data-target="#costruzionemarchio1">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/costruzionemarchio1.png" | prepend: site.baseurl }}" />
        </div>
        <div class="col-sm-3 flex-align-bottom" data-toggle="modal" data-target="#costruzionemarchio2">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/costruzionemarchio2.png" | prepend: site.baseurl }}" />
        </div>
      
    </div>
</div>
<div class="item" data-caption="7" data-slide-count="6">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mP-FjS_k1nI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-slide-count="7">
    <div class="clearfix">
        <div class="col-sm-3 hidden-xs"></div>
        <div class="col-sm-6" data-toggle="modal" data-target="#poster">
          <img src="{{ "/img/branding/reggia-caserta/poster.png" | prepend: site.baseurl }}" />
        </div>
        <div class="col-sm-3 hidden-xs"></div>
    </div>
</div>
<div class="item" data-slide-count="8">
    <div class="bg-center col-xs-12" style="background-image: url({{ "/img/branding/reggia-caserta/poster-color.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item gray-bg" data-slide-count="9">
    <div class="full-height flex-align-center">
        <div class="mac-container">
            <div class="mac-frame"></div>
              <iframe src="https://www.youtube.com/embed/mP-FjS_k1nI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="item" data-slide-count="10">
    <div class="bg-center col-sm-6 border-right" 
        data-toggle="modal" data-target="#nasone-double-poster" 
        style="background-image: url({{ "/img/branding/reggia-caserta/nasone-double-poster.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
        data-toggle="modal" data-target="#poster-nasone" 
         style="background-image: url({{ "/img/branding/reggia-caserta/poster-nasone.jpg" | prepend: site.baseurl }});">
    </div>
</div>
<div class="item" data-slide-count="11">
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#biglietteria"
    style="background-image: url({{ "/img/branding/reggia-caserta/biglietteria.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-caption="13" data-slide-count="12">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item gray-bg fadeOut" data-slide-count="13">
    <div class="bg-center col-xs-12" style="background-image: url({{ "/img/branding/reggia-caserta/didascalie.png" | prepend: site.baseurl }});"></div>
</div>

<div class="item gray-bg fadeIn" data-slide-count="13">
    <div class="bg-center col-xs-12" style="background-image: url({{ "/img/branding/reggia-caserta/didascalienumeri.png" | prepend: site.baseurl }});"></div>
</div>
<div class="item fadeOut" data-caption="Didascalie attuali" data-slide-count="14">
  <div class="clearfix full-height">
      <div class="col-sm-3"></div>
      <div class="col-sm-3 flex-align-bottom full-height"
           data-toggle="modal" data-target="#didascalie-attuali" >
          <img src="{{ "/img/branding/reggia-caserta/didascalie-attuali.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
  </div>
</div>
<div class="item fadeIn" 
     data-caption="Didascalie attuali problemi" 
     data-slide-count="14">
  <div class="clearfix full-height">
      <div class="col-sm-3"></div>
      <div class="col-sm-3 flex-align-bottom full-height"
           data-toggle="modal" data-target="#didascalie-attuali-problemi">
          <img src="{{ "/img/branding/reggia-caserta/didascalie-attuali-problemi.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
  </div>
</div>
<div class="item" data-slide-count="15">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#didascalia-fontana-eolo" 
    style="background-image: url({{ "/img/branding/reggia-caserta/fontana-eolo-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#didascalia_larga"  
    style="background-image: url({{ "/img/branding/reggia-caserta/didascalia_larga.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="16">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#grafica-mappa" 
    style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="split-view col-sm-6 border-left">
        <div class="bg-center border-bottom"
            data-toggle="modal" data-target="#mappa-giardini1"  
            style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini1.jpg" | prepend: site.baseurl }});">
        </div>
        <div class="bg-center border-top"
            data-toggle="modal" data-target="#mappa-giardini2"  
            style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini2.jpg" | prepend: site.baseurl }});">
        </div>
    </div>
    
</div>
<div class="item" data-slide-count="17">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#indicazioni1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/indicazioni-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#indicazioni-2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/indicazioni2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="18">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#orari-chiusura1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="split-view col-sm-6 border-left">
        <div class="bg-center border-bottom"
            data-toggle="modal" data-target="#orari-chiusura2"  
            style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura2.jpg" | prepend: site.baseurl }});">
        </div>
        <div class="bg-center border-top"
            data-toggle="modal" data-target="#orari-chiusura3"  
            style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura3.jpg" | prepend: site.baseurl }});">
        </div>
    </div>
</div>
<div class="item" data-slide-count="19">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#sala-trono1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/sala-trono-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#sala-trono2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/sala-trono2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="20">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#giuseppe-cammarano1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/giuseppe-cammarano-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#giuseppe-cammarano2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/giuseppe-cammarano2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="21">
    <div class="bg-center col-xs-12" 
    data-toggle="modal" data-target="#stanza" 
    style="background-image: url({{ "/img/branding/reggia-caserta/stanza.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="22">
    <div class="bg-bottom-left col-sm-6 border-right"
    data-toggle="modal" data-target="#albero1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/albero-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#albero2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/albero2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-caption="13" data-slide-count="23">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

{% include modal.html type="portrait" url="/img/branding/reggia-caserta/1.jpg" id="one" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/2.jpg" id="two" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/3.jpg" id="three" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/4.jpg" id="four" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/planimetria-parco.jpg" id="planimetria-parco" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/planimetria-parco.jpg" id="planimetria-parco" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/costruzionemarchio1.png" id="costruzionemarchio1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/costruzionemarchio2.png" id="costruzionemarchio2" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/poster.png" id="poster" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/nasone-double-poster.jpg" id="nasone-double-poster" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/poster-nasone.jpg" id="poster-nasone" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalie-attuali.png" id="didascalie-attuali" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalie-attuali-problemi.png" id="didascalie-attuali-problemi" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalia-fontana-eolo.jpg" id="didascalia-fontana-eolo" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalia_larga.jpg" id="didascalia_larga" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/grafica-mappa.jpg" id="grafica-mappa" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/mappa-giardini1.jpg" id="mappa-giardini1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/mappa-giardini2.jpg" id="mappa-giardini2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/indicazioni1.png" id="indicazioni1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/indicazioni2.jpg" id="indicazioni2" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/orari-chiusura1.jpg" id="orari-chiusura1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/orari-chiusura2.jpg" id="orari-chiusura2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/orari-chiusura3.jpg" id="orari-chiusura3" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/giuseppe-cammarano1.png" id="giuseppe-cammarano1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/giuseppe-cammarano2.jpg" id="giuseppe-cammarano2" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/sala-trono1.png" id="sala-trono1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/sala-trono2.jpg" id="sala-trono2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/stanza.jpg" id="stanza" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/albero1.jpg" id="albero1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/albero2.jpg" id="albero2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/biglietteria.jpg" id="biglietteria" %}

<script type="text/javascript">
/*    $(window).load(function(){
        alert('Ready to go');
    })*/
</script>