---
layout: post
title:  "Reggia di Caserta"
date:   2015-01-06 22:50:01
categories: branding
---

<div class="item active" data-caption="Welcome" data-slide-count="1">
  <header>
      <div class="col-sm-4">Benvenuti</div>
      <div class="col-sm-8">
            <div>Director: Paolo Caracciolo, raised in Caserta.</div>
            <div>DOP: Erme Rivezzi, born and raised in Caserta.</div>
            <div>Music: Domenico Cimarosa, born and raised in Caserta.</div>
      </div>
  </header>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-caption="An uknown treasure" data-slide-count="2">
  <header>
        <div class="col-sm-4">
            The Royal Palace of Caserta extends above the surface as it does below, it is more than two million cubic meters of extension which makes it the world’s largest royal residence, but it is also one of the least visited. The cultural value of the monument is high, the problem therefore lies in its communication design.
        </div>
  </header>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-caption="Bodoni" data-slide-count="3">
   <header>
        <div class="col-sm-4">
            In search of the most appropriate communication strategy, I traveled to Parma to attend the fair on the most famous typographer ever existed: Giambattista Bodoni. There I discovered that Bodoni, as well as being contemporary with respect to the construction of the building, has also worked for the rulers, font selection was therefore clear.
        </div>
  </header>
  <div class="clearfix full-height">
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#one">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/1.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#two">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/2.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#three">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/3.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-xs-3 flex-align-bottom full-height" data-toggle="modal" data-target="#four">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/4.jpg" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item"  data-caption="Logotype" data-slide-count="4" id="logotype">
    <header>
        <div class="col-sm-4">
                The logotype, clean and simple for improved adaptation to any context, was built in reference to the typesetting era: Bodoni was able to build movable metal typefaces very close together, in this case, 0 kerning occurs between R and T.
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#logotype" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
                <div>Font: Bodoni Roman</div> 
                <div>Kerning: optical</div>
                <div>Spacing correction: +50 (R/T)</div>
            </div>
        </div>
    </header>
    <div class="flex-align-bottom full-height">
        <img class="base" src="{{ "/img/branding/reggia-caserta/logotipo.png" | prepend: site.baseurl }}" alt="...">
        <img class="overlay" src="{{ "/img/branding/reggia-caserta/costruzionelogotipo.png" | prepend: site.baseurl }}" alt="..." style="display:none;">
    </div>
</div>
<div class="item" data-caption="Pictogram" data-slide-count="5" id="pictogram">
  <header>
        <div class="col-sm-4">
            The pictogram, in honor of the great architectural project made Click to see details by Luigi Vanvitelli, represents the buliding planimetry, modularly redesigned for graphical applications.
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#pictogram" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
                <div>Modules</div> 
                <div>1: x</div>
                <div>2: 1/3x </div>
                <div>3: 1/10x</div> 
                <div>4: 1/28x </div>
                <div>5: 3x</div>
            </div>
        </div>
  </header>
  <div class="clearfix full-height">
      <div class="visible-xs col-xs-12 flex-align-bottom full-height" 
           style="background-image: url({{ "/img/home/reggia-mobile.jpg" | prepend: site.baseurl }});">
      </div>
      <div class="col-sm-3 flex-align-bottom full-height hidden-xs"
           data-toggle="modal" data-target="#planimetria-parco">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/planimetria-parco.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-6 flex-align-bottom full-height hidden-xs">
          <img class="base thumb" 
          data-toggle="modal" data-target="#costruzionemarchio3"
          src="{{ "/img/branding/reggia-caserta/costruzionemarchio3.png" | prepend: site.baseurl }}" />
          <img class="overlay thumb"
               data-toggle="modal" data-target="#costruzionemarchio1" 
               src="{{ "/img/branding/reggia-caserta/costruzionemarchio1.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3 flex-align-bottom full-height hidden-xs">
          <img class="overlay thumb" 
            data-toggle="modal" data-target="#costruzionemarchio2"
            src="{{ "/img/branding/reggia-caserta/costruzionemarchio2.png" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item" data-slide-count="6" data-caption="Colors">
    <header>
        <div class="col-sm-3">
            Colours scheme needed to communicate the mysterious and ancient elegance of such an opulent and magnificent place, black and gold perfect fitted the needs.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
        style="background-image: url({{ "/img/branding/reggia-caserta/square_black.png" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
         style="background-image: url({{ "/img/branding/reggia-caserta/square_yellow.png" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Video ADV" data-slide-count="7">
    <header>
        <div class="col-sm-3">
            What makes the Royal Palace of Caserta unique and recognizable? The Royal Palace of Caserta itself, his ambitious project, its architectural harmony: hence the strategy of simply showing it as much as possible, in its more intimate beauty; in every place, in airports and subway stations as well.
        </div>
    </header>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mP-FjS_k1nI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="item" data-caption="Posters" data-slide-count="8">
    <header>
        <div class="col-sm-3">
            The poster campaign shows different and magnificent views of the Palace, without revealing its identity, if not in the small website link placed in the bottom. Viewers will link the posters together but will not immedately relate them to the Palace, curiosity builds attention, attention brings visitors.
        </div>
    </header>
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#poster-color"  
    style="background-image: url({{ "/img/branding/reggia-caserta/poster-color.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item gray-bg" data-slide-count="9" data-caption='Website'>
    <header>
        <div class="col-sm-3">
            The website follows the entire communication strategy settings by using html and css gimmicks and allowing digital tours, reservations for events to be held inside and outside the palace, also favoring the local economy.
        </div>
    </header>   
    <div class="full-height flex-align-center">
        <div class="mac-container">
            <div class="mac-frame"></div>
              <iframe src="https://www.youtube.com/embed/mP-FjS_k1nI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="item" data-slide-count="10" data-caption="Re Nasone">
    <header>
        <div class="col-sm-3">
            The “Marie Antoinette” movie has made a huge increase in visitors to Versailles, this phenomenon is replicable for Caserta: Ferdinand IV became king at the age of eight, his story is full of luxury, lust and violence, he led wars that have dramatically changed the political balance of his era, in addition, he was also famous for his big nose.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right hidden-xs" 
        data-toggle="modal" data-target="#nasone-double-poster" 
        style="background-image: url({{ "/img/branding/reggia-caserta/nasone-double-poster.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
        data-toggle="modal" data-target="#poster-nasone" 
         style="background-image: url({{ "/img/branding/reggia-caserta/poster-nasone.jpg" | prepend: site.baseurl }});">
    </div>
</div>
<div class="item" data-slide-count="11" data-caption="Entrance">
    <header>
        <div class="col-sm-3">
            Here the graphics are more aggressive towards the palace, but for a good reason: those who visit the Palace does not enter into the unattended rooms owned by a dead king, but in a place maintained by reputable custodians, with which they sign an actual contract. This configuration also facilitates the entrance: Tickets to the left, wardrobe to the right, entry in the center.
        </div>
    </header>
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#biglietteria"
    style="background-image: url({{ "/img/branding/reggia-caserta/biglietteria.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-caption="Tablet App" data-slide-count="12">
  <header>
    <div class="col-sm-3">
      Along with the ticket is given a tablet, it lists and show the visitable places, facilitating consultation by appropriately notifying while entering a room. It provides digital interactions and a GPS-linked map that can let you follow a relevant path, for example, a movie-related one, or guide you to current events with great ease.
    </div>
  </header>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="item" data-caption="Culinary heritage" data-slide-count="13" id="culinary-heritage">
  <header>
    <div class="col-sm-4">
      Because of the passion for pasta of King Francis II, also known as King Lasagna, we have the introduction of the fork tines to four in- stead of two. It’s in the kitchens of the Royal Palace which was im- ported for the first time in Europe a very important element of what is today known as Italian cuisine: the tomato.
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#culinary-heritage" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
                <div>Font: Bodoni Roman</div> 
                <div>Kerning: optical</div>
                <div>Spacing correction: +50 (R/T)</div>
            </div>
        </div>
  </header>
  <div class="clearfix full-height">
      <div class="col-sm-3 flex-align-bottom full-height hidden-xs"
        data-toggle="modal" data-target="#francesco-II">
          <img class="thumb" src="{{ "/img/branding/reggia-caserta/francesco-II.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3 flex-align-bottom full-height hidden-xs">
        <img class="thumb overlay" 
               data-toggle="modal" data-target="#pomodoro"
               style="max-height: 25%;" 
               src="{{ "/img/branding/reggia-caserta/pomodoro.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3 flex-align-bottom full-height">
          <img class="thumb base" 
               data-toggle="modal" data-target="#forchetta2"
               src="{{ "/img/branding/reggia-caserta/forchetta2.png" | prepend: site.baseurl }}" />
           <img class="thumb overlay" 
               data-toggle="modal" data-target="#forchetta1"
               src="{{ "/img/branding/reggia-caserta/forchetta1_thumb.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-3"></div>
  </div>
</div>

<div class="item" data-slide-count="13.5" data-caption="Monzù">
    <header>
        <div class="col-sm-3">
            The name of the restaurant is therefore a tribute to the great men who cooked in that building, those cooks were not called “cooks” or “chef”, but a ‘neapolitanization’ of “Monsieur le chef”: Monzù.
        </div>
    </header>
    <div class="flex-align-bottom full-height col-xs-12">
        <img 
            data-toggle="modal" data-target="#monzu-logo" 
        src="{{ "/img/branding/reggia-caserta/monzu_logo.jpg" | prepend: site.baseurl }}" />
    </div>
</div>
<div class="item" data-slide-count="13.5" data-caption="Monzù">
    <header>
        <div class="col-sm-4">
            The name of the restaurant is therefore a tribute to the great men who cooked in that building, those cooks were not called “cooks” or “chef”, but a ‘neapolitanization’ of “Monsieur le chef”: Monzù.
        </div>
    </header>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="bg-bottom-left full-height col-sm-4"
             data-toggle="modal" data-target="#monzu1" 
             style="background-image: url({{ "/img/branding/reggia-caserta/monzu1.jpg" | prepend: site.baseurl }});"></div>
</div>

<div class="item gray-bg" data-slide-count="14" data-caption="Information graphics" id="information-graphics">
    <header>
        <div class="col-sm-4">
                Information graphics are designed to be easily consulted by an individual to an average height of one meter and seventy-five, divided into three areas: gardens, courtyards and rooms.
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#information-graphics" data-toggle="details">Click to see details</a>
            </div>
        </div>
    </header>
    <div class="bg-center col-xs-12 base" style="background-image: url({{ "/img/branding/reggia-caserta/didascalie.png" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-xs-12 overlay" style="background-image: url({{ "/img/branding/reggia-caserta/didascalienumeri.png" | prepend: site.baseurl }});"></div>
</div>

<div class="item" data-caption="Current situation" data-slide-count="15" id="current-situation">
    <header>
        <div class="col-sm-4">
                The graphic compartment was ineffective in identifying informations about locations and works, the supports accumulated dirt easily and there were no optical graphics corrections. These problems were solved by redesigning information strategy to its foundations.
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#current-situation" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
                <div>1: Map is too detailed to be effective.</div>
                <div>2: There is no information about the images, it is, in fact, just a drawing of what it’s in front of you.</div>
                <div>3: Text placing makes a hard reading.</div>
            </div>
        </div>
    </header>
   <div class="clearfix full-height">
      <div class="col-sm-3 flex-align-bottom full-height"
           data-toggle="modal" data-target="#didascalie-attuali" >
          <img src="{{ "/img/branding/reggia-caserta/didascalie-attuali.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-4 flex-align-bottom full-height">
          <img class="thumb base" 
          data-toggle="modal" data-target="#signal"
          src="{{ "/img/branding/reggia-caserta/signal.png" | prepend: site.baseurl }}" />
          <img class="thumb overlay" 
          data-toggle="modal" data-target="#signal-alt"
          src="{{ "/img/branding/reggia-caserta/signal-alt.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-5 flex-align-bottom full-height">
          <img class="thumb base" 
          data-toggle="modal" data-target="#arrow"
          src="{{ "/img/branding/reggia-caserta/arrow.png" | prepend: site.baseurl }}" />
          <img class="thumb overlay"
          data-toggle="modal" data-target="#arrow-alt"
           src="{{ "/img/branding/reggia-caserta/arrow-alt.png" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item" data-slide-count="16" data-caption="Gardens IG">
    <header>
        <div class="col-sm-4">
            Gardens IG show general and detailed informations in four languages, its conformation facilitates maintenance, letting dirt, leaves and liquids to flow away.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#didascalia-fontana-eolo" 
    style="background-image: url({{ "/img/branding/reggia-caserta/fontana-eolo-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#didascalia_larga"  
    style="background-image: url({{ "/img/branding/reggia-caserta/didascalia_larga.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-caption="Map" data-slide-count="17">
    <header>
        <div class="col-sm-4">
            The map, separated from the descriptions of the works to be easily moved or placed in tight places, has been simplified to facilitate orientation and provides information about bike rentals, buses, fountains, carriage tours.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#grafica-mappa" 
    style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="split-view col-sm-6 border-left">
        <div class="bg-center border-bottom"
            data-toggle="modal" data-target="#mappa-giardini1"  
            style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini1.jpg" | prepend: site.baseurl }});">
        </div>
        <div class="bg-center border-top"
            data-toggle="modal" data-target="#mappa-giardini2"  
            style="background-image: url({{ "/img/branding/reggia-caserta/mappa-giardini2.jpg" | prepend: site.baseurl }});">
        </div>
    </div>
    
</div>
<div class="item" data-slide-count="18" data-caption="Signs">
    <header>
        <div class="col-sm-4">
            The signage guides to the different entrances and services available in the museum complex.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#indicazioni1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/indicazioni-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#indicazioni-2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/indicazioni2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="19" data-caption="Opening times panel">
    <header>
        <div class="col-sm-4">
            This panel illustrates the different prices available depending on the type of entrance required and provides a bigger information about the closing time, which can be replaced by hand from a maintainer so not to have to change the panel.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#orari-chiusura1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="split-view col-sm-6 border-left">
        <div class="bg-center border-bottom"
            data-toggle="modal" data-target="#orari-chiusura2"  
            style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura2.jpg" | prepend: site.baseurl }});">
        </div>
        <div class="bg-center border-top"
            data-toggle="modal" data-target="#orari-chiusura3"  
            style="background-image: url({{ "/img/branding/reggia-caserta/orari-chiusura3.jpg" | prepend: site.baseurl }});">
        </div>
    </div>
</div>
<div class="item" data-slide-count="20"  data-caption="Rooms IG">
    <header>
        <div class="col-sm-4">
            These supports allow easy disposal inside the rooms and avoid excessive aggregation of people around them.
        </div>
    </header>

    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#sala-trono1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/sala-trono-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#sala-trono2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/sala-trono2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="21" data-caption="Paintings IG">
    <header>
        <div class="col-sm-4">
            The small size of these supports allows placement next to each type of work in the Palace, providing information about the work and the author in different languages.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#giuseppe-cammarano1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/giuseppe-cammarano-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#giuseppe-cammarano2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/giuseppe-cammarano2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="22" data-caption="Special IG">
    <header>
        <div class="col-sm-4">
            There are some places in the Palace where can be found specifi element of IG. Example: seven paintings depicting a family and made by the same author.
        </div>
    </header>
    <div class="bg-center col-xs-12" 
    data-toggle="modal" data-target="#stanza" 
    style="background-image: url({{ "/img/branding/reggia-caserta/stanza.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-slide-count="23" ata-caption="Special IG">
    <header>
        <div class="col-sm-4">
            Each painting is easily identified by its position, giving informations in different languages. A dedicated graphic shows informations about the family dinasty. This is just one example between all appropriate graphics possibile inside and outside the Palace.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right hidden-xs"
    data-toggle="modal" data-target="#albero1" 
    style="background-image: url({{ "/img/branding/reggia-caserta/albero-thumb.jpg" | prepend: site.baseurl }});"></div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#albero2"  
    style="background-image: url({{ "/img/branding/reggia-caserta/albero2.jpg" | prepend: site.baseurl }});"></div>
</div>
<div class="item" data-caption="Project goals" data-slide-count="24">
  <header>
        <div class="col-sm-4">
            I was told “The value of a monument can not be judged by the number of visitors,” to which I replied “No, but the value of those who have it in custody can”. The main goal of this project is to create a visual vocabulary for the Reggia di Caserta that allows it to get back the title it had in 1994: the most visited monument in Europe.
        </div>
    </header>  
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS9Q4uGoXl8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

{% include modal.html type="portrait" url="/img/branding/reggia-caserta/1.jpg" id="one" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/2.jpg" id="two" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/3.jpg" id="three" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/4.jpg" id="four" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/planimetria-parco.jpg" id="planimetria-parco" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/planimetria-parco.jpg" id="planimetria-parco" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/costruzionemarchio1.png" id="costruzionemarchio1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/costruzionemarchio2.png" id="costruzionemarchio2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/marchio-reggia.png" id="costruzionemarchio3" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/poster.png" id="poster" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/nasone-double-poster.jpg" id="nasone-double-poster" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/poster-nasone.jpg" id="poster-nasone" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalie-attuali.png" id="didascalie-attuali" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalie-attuali-problemi.png" id="didascalie-attuali-problemi" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalia-fontana-eolo.jpg" id="didascalia-fontana-eolo" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/didascalia_larga.jpg" id="didascalia_larga" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/grafica-mappa.jpg" id="grafica-mappa" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/mappa-giardini1.jpg" id="mappa-giardini1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/mappa-giardini2.jpg" id="mappa-giardini2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/indicazioni1.png" id="indicazioni1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/indicazioni2.jpg" id="indicazioni2" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/orari-chiusura1.jpg" id="orari-chiusura1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/orari-chiusura2.jpg" id="orari-chiusura2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/orari-chiusura3.jpg" id="orari-chiusura3" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/giuseppe-cammarano1.png" id="giuseppe-cammarano1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/giuseppe-cammarano2.jpg" id="giuseppe-cammarano2" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/sala-trono1.png" id="sala-trono1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/sala-trono2.jpg" id="sala-trono2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/stanza.jpg" id="stanza" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/albero1.jpg" id="albero1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/albero2.jpg" id="albero2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/biglietteria.jpg" id="biglietteria" %}

{% include modal.html type="portrait" url="/img/branding/reggia-caserta/forchetta1.png" id="forchetta1" %}
{% include modal.html type="portrait" url="/img/branding/reggia-caserta/forchetta2.png" id="forchetta2" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/francesco-II.jpg" id="francesco-II" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/pomodoro.jpg" id="pomodoro" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/monzu1.jpg" id="monzu1" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/monzu_logo.jpg" id="monzu-logo" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/poster-color.jpg" id="poster-color" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/signal.png" id="signal" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/signal-alt.png" id="signal-alt" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/arrow.png" id="arrow" %}
{% include modal.html type="landscape" url="/img/branding/reggia-caserta/arrow-alt.png" id="arrow-alt" %}

<script type="text/javascript">
/*    $(window).load(function(){
        alert('Ready to go');
    })*/
</script>