---
layout: post
title:  "Esposizione Azimut"
date:   2015-01-01 22:50:01
categories: branding
---


<div class="item active" data-slide-count="1" data-caption="Azimut 1950">
    <header>
        <div class="col-sm-8 columns-2-sm">
            Azimuth is a magazine founded by artists Piero Manzoni and Enrico Castellani. “La profezia di Azimut” is an exhibition that shows the works contained in the Azimut art gallery, founded by the authors in 1959. It includes works by artists who have overturned the modern concept of seeing and thinking Art.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
        style="background-image: url({{ "/img/branding/azimut/manzoni.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-bottom-right col-sm-6 border-left"
         style="background-image: url({{ "/img/branding/azimut/merda.png" | prepend: site.baseurl }});">
    </div>
    <div class="fit-height slide-overlay">
        <img src="{{ "/img/branding/azimut/mondoazimuth.png" | prepend: site.baseurl }}">
    </div>
</div>

<div class="item" data-caption="Brief" data-slide-count="2">
    <header>
        <div class="col-sm-8 columns-2-sm">
            Brief: Create the museum using four 20’ containers and one 40’ container. 20’: Overall Length: 6,059 mm / Internal length: 5,860 mm / Width: 2,438 mm / Internal width: 2,310 mm / External height: 2591 mm / Internal height: 2,360 mm / Opening width rear: 2,280 mm / Height rear opening: 2,270 mm / Internal volume load: 32 to 33.9 m3
        </div>
        <div class="col-sm-4 columns-2-sm">
            <div>Project’s team:</div>
            <div>Paolo Caracciolo</div>
            <div>Enrico Bernardi</div>
            <div>Giulia Herman</div>
            <div>Sara Barberis</div>
            <div>Victor Torresan</div>
        </div>
    </header>
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#brief"  
    style="background-image: url({{ "/img/branding/azimut/brief.jpg" | prepend: site.baseurl }});"></div>
</div>

<div class="item" data-caption="Arranging containers" data-auto-details="true" data-slide-count="3" id="arranging-containers">
    <header>
        <div class="col-sm-8 columns-2-sm">
                We decided to expand the rear doors of the container to provide more space and arrange them in a square, so as to obtain a central additional space and, using the fifth container as a ramp, we added an higher floor.
        </div>
        <div class="col-sm-4">
            <div class="base">
                <a class="transparent" data-target="#arranging-containers" data-toggle="details">Click to see details</a>
            </div>
        </div>
    </header>
   <div class="clearfix full-height">
      <div class="col-sm-3 flex-align-bottom full-height">
          &nbsp;
      </div>
      <div class="col-sm-9 flex-align-bottom full-height">
          <img class="base" 
          data-toggle="modal" data-target="#containers3"
          style="max-height: 100%;" 
          src="{{ "/img/branding/azimut/containers3.png" | prepend: site.baseurl }}" />
          <img class="overlay" 
          data-toggle="modal" data-target="#containers2"
          style="max-height: 100%;" 
          src="{{ "/img/branding/azimut/containers4.png" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item" data-caption="Exibition space" data-auto-details="true" data-slide-count="4" id="exhibition-space">
    <header>
        <div class="col-sm-8 columns-2-sm">
                The shape, color and structure of the exhibition space is inspired by the ideas advocated by the artists on display in the exhibition. The concept of the azimuth angle as that identifies the position of the stars in the sky is represented by the ramp and by its characteristic angled cut.
        </div>
        <div class="col-sm-4">
            <div class="base">
                <a class="transparent" data-target="#exhibition-space" data-toggle="details">Click to see details</a>
            </div>
        </div>
    </header>
   <div class="clearfix full-height">
      <div class="col-sm-6 flex-align-bottom full-height">
          <img class="thumb base" 
          data-toggle="modal" data-target="#exib1"
          src="{{ "/img/branding/azimut/exib1.png" | prepend: site.baseurl }}" />
          <img class="thumb overlay" src="{{ "/img/branding/azimut/exib3.png" | prepend: site.baseurl }}" />
      </div>
      <div class="col-sm-6 flex-align-bottom full-height">
          <img class="thumb base" 
          data-toggle="modal" data-target="#exib2"
          src="{{ "/img/branding/azimut/exib2.png" | prepend: site.baseurl }}" />
          <img class="thumb overlay" 
          data-toggle="modal" data-target="#signal-alt"
          src="{{ "/img/branding/azimut/exib4.png" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item" data-caption="Ticket booth" data-slide-count="5">
    <header>
        <div class="col-sm-8 columns-2-sm">
            The concept of the angle has also been recalled in the modeling of the ticket booth, allowing visitors to buy tickets and products while experiencing the physics of the inclined planes.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right" 
        style="background-image: url({{ "/img/branding/azimut/booth_thumb.png" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
         data-toggle="modal" data-target="#ticket-booth"
         style="background-image: url({{ "/img/branding/azimut/ticket_booth.jpg" | prepend: site.baseurl }});">
    </div>
</div>


<div class="item" data-caption="First and second corridor" data-slide-count="6">
    <header>
        <div class="col-sm-4 text-right" style="height:100%;">
            <img style="height:100%;"
                 src="{{ "/img/branding/azimut/box1.jpg" | prepend: site.baseurl }}">
        </div>
        <div class="col-sm-8 text-right" style="height:100%;">
            <img src="{{ "/img/branding/azimut/box2.jpg" | prepend: site.baseurl }}" style="height:100%;">
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
         data-toggle="modal" data-target="#corridoio1"
        style="background-image: url({{ "/img/branding/azimut/corridoio1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
         data-toggle="modal" data-target="#corridoio2"
         style="background-image: url({{ "/img/branding/azimut/corridoio2.jpg" | prepend: site.baseurl }});">
    </div>
</div>


<div class="item" data-caption="Third and fourth corridor" data-slide-count="6">
    <header>
        <div class="col-sm-4 text-right" style="height:100%;">
            <img style="height:100%;"
                 src="{{ "/img/branding/azimut/box3.jpg" | prepend: site.baseurl }}">
        </div>
        <div class="col-sm-8 text-right" style="height:100%;">
            <img src="{{ "/img/branding/azimut/box4.jpg" | prepend: site.baseurl }}" style="height:100%;">
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
         data-toggle="modal" data-target="#corridoio3"
        style="background-image: url({{ "/img/branding/azimut/corridoio3.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
          data-toggle="modal" data-target="#corridoio4"
         style="background-image: url({{ "/img/branding/azimut/corridoio4.jpg" | prepend: site.baseurl }});">
    </div>
</div>
<div class="item" data-caption="Furniture" data-slide-count="7">
    <header>
        <div class="col-sm-8 columns-2-sm">
            Furniture shares the same ideology as of the structure. Thanks to a suitable arrangement in space and the application of transparent materials, it creates the illusion of a space in permanent tension.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
         data-toggle="modal" data-target="#arredamento1"
        style="background-image: url({{ "/img/branding/azimut/arredamento1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
          data-toggle="modal" data-target="#arredamento2"
         style="background-image: url({{ "/img/branding/azimut/arredamento2.jpg" | prepend: site.baseurl }});">
    </div>
</div>
<div class="item" data-caption="Furniture" data-slide-count="7">
    <header>
        <div class="col-sm-8 columns-2-sm">
            Furniture shares the same ideology as of the structure. Thanks to a suitable arrangement in space and the application of transparent materials, it creates the illusion of a space in permanent tension.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
         data-toggle="modal" data-target="#arredamento3"
        style="background-image: url({{ "/img/branding/azimut/arredamento3.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
          data-toggle="modal" data-target="#arredamento4"
         style="background-image: url({{ "/img/branding/azimut/arredamento4.jpg" | prepend: site.baseurl }});">
    </div>
</div>
<div class="item" data-caption="Furniture" data-slide-count="7">
    <header>
        <div class="col-sm-8 columns-2-sm">
            Furniture shares the same ideology as of the structure. Thanks to a suitable arrangement in space and the application of transparent materials, it creates the illusion of a space in permanent tension.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
         data-toggle="modal" data-target="#arredamento5"
        style="background-image: url({{ "/img/branding/azimut/arredamento5.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
          data-toggle="modal" data-target="#arredamento6"
         style="background-image: url({{ "/img/branding/azimut/arredamento6.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Blank and white" data-slide-count="8">
    <header>
        <div class="col-sm-8 columns-2-sm">
            The entire project was developed in black and white, appropriately to the nature of the optical illusion itself and to the questioning of the very concept of space.
        </div>
    </header>
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#bw"  
    style="background-image: url({{ "/img/branding/azimut/bw.jpg" | prepend: site.baseurl }});"></div>
</div>

<div class="item" data-caption="Logotype" data-slide-count="9" id="logotype">
    <header>
        <div class="col-sm-8 columns-2-sm">
                The logotype has been insipired by the original Azimuth magazine, Click to see details keeping on with the adoption of a sans-serif and the dot in the letter
“i”.
        </div>
        <div class="col-sm-4">
            <div class="base">
                <a class="gold" data-target="#logotype" data-toggle="details">Click to see details</a>
            </div>
            <div class="overlay">
              <div class="gold">1: x</div>
              <div class="gold">2: (1/2)x</div>
              <div class="gold">3: (1/4)x</div>
            </div>
        </div>
    </header>
   <div class="clearfix full-height">
      <div class="bg-center col-sm-6 border-left"
          data-toggle="modal" data-target="#logotype"
         style="background-image: url({{ "/img/branding/azimut/logotype.jpg" | prepend: site.baseurl }});">
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3 flex-align-bottom full-height">
        <img class="thumb base" 
          src="{{ "/img/branding/azimut/azimut.jpg" | prepend: site.baseurl }}" />
          <img class="thumb overlay" 
          src="{{ "/img/branding/azimut/azimut-alt.jpg" | prepend: site.baseurl }}" />
      </div>
  </div>
</div>

<div class="item" data-caption="Grid System" data-slide-count="10">
    <header>
        <div class="col-sm-4">
            A dedicated grid system has been designed for walls, ceilings and floors, it calibrates any aspect of the design: works, lights and furniture positioning, captions, aligning and space proportions. The grid is based on the height of an average man equal to one meter and seventy-five centimeteres.
        </div>
        <div class="col-sm-4" style="height:100%;">
            <img 
                style="height:100%;"
                src="{{ "/img/branding/azimut/box1.jpg" | prepend: site.baseurl }}">
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
          src="{{ "/img/branding/azimut/grid1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
           src="{{ "/img/branding/azimut/grid2.jpg" | prepend: site.baseurl }}" />
    </div>
</div>
<div class="item" data-caption="Grid System" data-slide-count="10">
    <header>
        <div class="col-sm-4">
            A dedicated grid system has been designed for walls, ceilings and floors, it calibrates any aspect of the design: works, lights and furniture positioning, captions, aligning and space proportions. The grid is based on the height of an average man equal to one meter and seventy-five centimeteres.
        </div>
        <div class="col-sm-4" style="height:100%;">
            <img 
                style="height:100%;"
                src="{{ "/img/branding/azimut/box2.jpg" | prepend: site.baseurl }}">
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
          src="{{ "/img/branding/azimut/grid3.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
           src="{{ "/img/branding/azimut/grid4.jpg" | prepend: site.baseurl }}" />
    </div>
</div>
<div class="item" data-caption="Grid System" data-slide-count="10">
    <header>
        <div class="col-sm-4">
            A dedicated grid system has been designed for walls, ceilings and floors, it calibrates any aspect of the design: works, lights and furniture positioning, captions, aligning and space proportions. The grid is based on the height of an average man equal to one meter and seventy-five centimeteres.
        </div>
        <div class="col-sm-4" style="height:100%;">
            <img 
                style="height:100%;"
                src="{{ "/img/branding/azimut/box3.jpg" | prepend: site.baseurl }}">
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
          src="{{ "/img/branding/azimut/grid5.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
           src="{{ "/img/branding/azimut/grid6.jpg" | prepend: site.baseurl }}" />
    </div>
</div>
<div class="item" data-caption="Signs" data-slide-count="11">
    <header>
        <div class="col-sm-4">
            Signs are cut following the shape of the structure, creating a coherent imagery.
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height hidden-xs">
      <img class="thumb" 
          src="{{ "/img/branding/azimut/signs1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="col-sm-6 flex-align-bottom full-height">
      <img class="thumb" 
           src="{{ "/img/branding/azimut/signs2.jpg" | prepend: site.baseurl }}" />
    </div>
</div>


<div class="item" data-caption="Information graphics" data-slide-count="11" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            In addition to giving directions, the IG can also be used to show ad posters from the exhibition.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
      data-toggle="modal" data-target="#ig1"
        style="background-image: url({{ "/img/branding/azimut/ig1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#ig2"
         style="background-image: url({{ "/img/branding/azimut/ig2.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Website" data-slide-count="12" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            The exhibition website has been designed in order to give easy and clear informations about the show, the works and the events happening inside the building.
        </div>
    </header>
    <div class="bg-center col-sm-3 border-right"  
      data-toggle="modal" data-target="#tablet1"
        style="background-image: url({{ "/img/branding/azimut/tablet_thumb1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-9 border-left"
    data-toggle="modal" data-target="#tablet2"
         style="background-image: url({{ "/img/branding/azimut/tablet_thumb2.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Poster" data-slide-count="13" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            Posters grant clear information about the artists and other info about location and opening times. Simple typography has been superimposed on images from the works and on a photo of a textile model shaped as the building itself.
        </div>
    </header>
    <div class="bg-center col-sm-3 border-right"  
      data-toggle="modal" data-target="#poster1"
        style="background-image: url({{ "/img/branding/azimut/poster_thumb1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-9 border-left"
    data-toggle="modal" data-target="#poster2"
         style="background-image: url({{ "/img/branding/azimut/poster2.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Poster" data-slide-count="13" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            Posters grant clear information about the artists and other info about location and opening times. Simple typography has been superimposed on images from the works and on a photo of a textile model shaped as the building itself.
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height hidden-xs">
      <img class="thumb" 
           data-toggle="modal" data-target="#poster3"
          src="{{ "/img/branding/azimut/poster3.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#poster4"
         style="background-image: url({{ "/img/branding/azimut/poster4.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Poster" data-slide-count="13" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            Posters grant clear information about the artists and other info about location and opening times. Simple typography has been superimposed on images from the works and on a photo of a textile model shaped as the building itself.
        </div>
    </header>
    <div class="col-sm-6 flex-align-bottom full-height hidden-xs">
      <img class="thumb" 
           data-toggle="modal" data-target="#poster5"
          src="{{ "/img/branding/azimut/poster5.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#poster5"
         style="background-image: url({{ "/img/branding/azimut/poster6.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Collection Poster" data-slide-count="14">
    <header>
    </header>
    <div class="bg-center col-xs-12" 
         data-toggle="modal" data-target="#collection-poster"  
    style="background-image: url({{ "/img/branding/azimut/collection_poster_thumb.jpg" | prepend: site.baseurl }});"></div>
</div>


<div class="item" data-caption="Catalogue" data-slide-count="15" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            The catalog shows a pictogram inspired by the shape of the building. The layout reflects the essential simplicity of the shown works.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
      data-toggle="modal" data-target="#catalogue1"
        style="background-image: url({{ "/img/branding/azimut/catalogue1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#catalogue2"
         style="background-image: url({{ "/img/branding/azimut/catalogue2.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Catalogue" data-slide-count="15" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            The catalog shows a pictogram inspired by the shape of the building. The layout reflects the essential simplicity of the shown works.
        </div>
    </header>
    <div class="bg-center col-sm-6 border-right"  
      data-toggle="modal" data-target="#catalogue3"
        style="background-image: url({{ "/img/branding/azimut/catalogue3.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#catalogue4"
         style="background-image: url({{ "/img/branding/azimut/catalogue4.jpg" | prepend: site.baseurl }});">
    </div>
</div>

<div class="item" data-caption="Mechandising" data-slide-count="16" >
    <header>
        <div class="col-sm-8 columns-2-sm">
            The shape of the building itself becomes the essence of its own branding, in all its semplicity. Bags, pins and other products play with the geometry of the logo and with its corners.
        </div>
    </header>
    <div class="bg-bottom-left col-sm-6 border-right"  
      data-toggle="modal" data-target="#merchandising1"
        style="background-image: url({{ "/img/branding/azimut/merchandising1.jpg" | prepend: site.baseurl }});">
    </div>
    <div class="bg-center col-sm-6 border-left"
    data-toggle="modal" data-target="#merchandising2"
         style="background-image: url({{ "/img/branding/azimut/merchandising2.jpg" | prepend: site.baseurl }});">
    </div>
</div>
{% include modal.html type="landscape" url="/img/branding/azimut/brief.jpg" id="brief" %}
{% include modal.html type="landscape" url="/img/branding/azimut/containers3.png" id="containers3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/containers4.png" id="containers4" %}
{% include modal.html type="landscape" url="/img/branding/azimut/exib1.png" id="exib1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/exib2.png" id="exib2" %}
{% include modal.html type="landscape" url="/img/branding/azimut/exib3.png" id="exib3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/exib4.png" id="exib4" %}

{% include modal.html type="landscape" url="/img/branding/azimut/ticket_booth.jpg" id="ticket-booth" %}

{% include modal.html type="landscape" url="/img/branding/azimut/corridoio1.jpg" id="corridoio1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/corridoio2.jpg" id="corridoio2" %}
{% include modal.html type="landscape" url="/img/branding/azimut/corridoio3.jpg" id="corridoio3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/corridoio4.jpg" id="corridoio4" %}

{% include modal.html type="landscape" url="/img/branding/azimut/arredamento1.jpg" id="arredamento1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/arredamento2.jpg" id="arredamento2" %}
{% include modal.html type="landscape" url="/img/branding/azimut/arredamento3.jpg" id="arredamento3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/arredamento4.jpg" id="arredamento4" %}
{% include modal.html type="landscape" url="/img/branding/azimut/arredamento5.jpg" id="arredamento5" %}
{% include modal.html type="landscape" url="/img/branding/azimut/arredamento6.jpg" id="arredamento6" %}

{% include modal.html type="landscape" url="/img/branding/azimut/bw.jpg" id="bw" %}

{% include modal.html type="landscape" url="/img/branding/azimut/logotype.jpg" id="logotype" %}

{% include modal.html type="landscape" url="/img/branding/azimut/ig1.jpg" id="ig1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/ig2.jpg" id="ig2" %}

{% include modal.html type="portait"   url="/img/branding/azimut/tablet1.png" id="tablet1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/tablet2.png" id="tablet2" %}

{% include modal.html type="portait"   url="/img/branding/azimut/poster1.jpg" id="poster1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/poster2.jpg" id="poster2" %}
{% include modal.html type="portait"   url="/img/branding/azimut/poster3.jpg" id="poster3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/poster4.jpg" id="poster4" %}
{% include modal.html type="portait"   url="/img/branding/azimut/poster5.jpg" id="poster5" %}
{% include modal.html type="landscape" url="/img/branding/azimut/poster6.jpg" id="poster6" %}

{% include modal.html type="portait" url="/img/branding/azimut/collection.png" id="collection-poster" %}

{% include modal.html type="landscape" url="/img/branding/azimut/catalogue1.jpg" id="catalogue1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/catalogue2.jpg" id="catalogue2" %}
{% include modal.html type="landscape" url="/img/branding/azimut/catalogue3.jpg" id="catalogue3" %}
{% include modal.html type="landscape" url="/img/branding/azimut/catalogue4.jpg" id="catalogue4" %}

{% include modal.html type="portait"   url="/img/branding/azimut/merchandising1.jpg" id="merchandising1" %}
{% include modal.html type="landscape" url="/img/branding/azimut/merchandising2.jpg" id="merchandising2" %}