html, 
body{
    height: 100%;
    overflow: hidden;
}

.navbar-fixed-bottom,
body{
    padding-top: $line-height-xs - 5px; 
    padding-left: $line-height-xs - 5px; 
    padding-right: $line-height-xs - 5px; 
}

.navbar-fixed-bottom{
    padding-top: $line-height-xs/2;
}


@media screen and (min-width: $screen-sm-min){
    .navbar-fixed-bottom,
    body{
        padding-top: $line-height-sm - 5px; 
        padding-left: $line-height-sm - 5px; 
        padding-right: $line-height-sm - 5px; 
    }

    .navbar-fixed-bottom{
        padding-top: $line-height-sm/2;
    }
}
@media screen and (min-width: $screen-md-min){
    .navbar-fixed-bottom,
    body{
        padding-top: $line-height-md - 5px; 
        padding-left: $line-height-md - 5px; 
        padding-right: $line-height-md - 5px; 
    }

    .navbar-fixed-bottom{
        padding-top: $line-height-md/2;
    }
}

@media screen and (min-width: $screen-lg-min){
    .navbar-fixed-bottom,
    body{
        padding-top: $line-height-lg - 5px; 
        padding-left: $line-height-lg - 5px; 
        padding-right: $line-height-lg - 5px; 
    }

    .navbar-fixed-bottom{
        padding-top: $line-height-lg/2;
    }
}

@media screen and (min-width: 2000px){
    .navbar-fixed-bottom,
    body{
        padding-top: $line-height-xl - 5px; 
        padding-left: $line-height-xl - 5px; 
        padding-right: $line-height-xl - 5px; 
    }

    .navbar-fixed-bottom{
        padding-top: $line-height-lg/2;
    }
}
