.carousel-control{
    position: relative;
    top: inherit;
    left: inherit;
    bottom: inherit;
    width: auto;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: inherit;
    color: $text-color;
    text-align: inherit;
    text-shadow: none;
    cursor: pointer;

    &.right,
    &.left{
        color: white;
    }
}

.carousel-indicators{
    position: static;
    margin: 0;
    left: auto;
    width: 100%;
    text-align: left;

    li{
      width: 8px;
      height: 8px;
    }

    .active{
       width: 9px;
      height: 9px;
    }

    .duplicate{
      margin-left: -9px;
    }
}
.carousel-counter{
    text-align: center;
    font-weight: 200;
    display: inline-block;

    &.bigger{
        position: fixed;
        top: 8 * $line-height-xs;
        width: 50%;
        text-align: left;
        font-size: $font-size-xs * 8;
        @media screen and (min-width: $screen-xl-min){
          font-size: 35vw;
        }
        line-height: 0.90;
        font-weight: bold;
        letter-spacing: -0.06em;
    }
}

.carousel{
    
    .carousel-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 51px;

        
    }
    .carousel-inner {
        > .item {
            header{ display: none; }
            height: 100%;
            img, div {  padding: 0; }
            div {  margin: 0; }
            img { max-width: 100%; }
            @include transition(.7s ease left);
            &.fadeIn{
              @include transition(.7s ease-in-out);
              // WebKit CSS3 transforms for supported devices
              @media all and (transform-3d), (-webkit-transform-3d) {
                &.next,
                &.active.right {
                  opacity: 0;
                  left: 0;
                  @include translate3d(0, 0, 0);
                }
                
              }
            }            

            &.fadeOut{
              @include transition(.7s ease-in-out);
              // WebKit CSS3 transforms for supported devices
              @media all and (transform-3d), (-webkit-transform-3d) {
                &.prev,
                &.active.left {
                  opacity: 0;
                  left: 0;
                  @include translate3d(0, 0, 0);
                }
                
              }
            }
            // WebKit CSS3 transforms for supported devices
            @media all and (transform-3d), (-webkit-transform-3d) {
              @include transition(all 0.7s ease);
              @include backface-visibility(hidden);
              @include perspective(1000);

              &.next,
              &.active.right {
                opacity: 0;
                left: 0;
              }
              &.prev,
              &.active.left {
                opacity: 0;
                left: 0;
              }
              &.next.left,
              &.prev.right,
              &.active {
                @include animation(fadeIn 2s both);
                opacity: 1;
                left: 0;
              }
            }
            @media screen and (min-width: $screen-sm-min) and (transform-3d), (-webkit-transform-3d) {

              &.next,
              &.active.right {
                @include translate3d(0, 100%, 0);
              }

              &.prev,
              &.active.left {
                @include translate3d(0,-100%, 0);
              }
              
              &.next.left,
              &.prev.right,
              &.active {
                @include translate3d(0, 0, 0);
              }
            }
        }
     

    }
}

.carousel-controls{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
}

@media screen and (min-width: $screen-sm-min){
    .carousel-counter{
        &.bigger{
            font-size: $font-size-sm * 10;
            line-height: 0.90;
            top: 8 * $line-height-sm;
        }
    }
}
@media screen and (min-width: $screen-md-min){
    .carousel-counter{
        &.bigger{
            font-size: $font-size-md * 15;
            line-height: 0.90;
            top: 8 * $line-height-md;
        }
    }
}

@media screen and (min-width: $screen-lg-min){
    .carousel-counter{
        &.bigger{
            font-size: $font-size-lg * 15;
            line-height: 0.90;
            top: 8 * $line-height-lg;
        }
    }

}

@media screen and (min-width: 2000px){
    .carousel-counter{
        &.bigger{
            font-size: $font-size-xl * 15;
            line-height: 0.90;
            top: 8 * $line-height-xl;
        }
    }  

}