

@font-face {
    font-family: 'PCF';
    src: url('#{$font-path}Medio.eot'), 
         url('#{$font-path}Medio.ttf') format('truetype'),
         url('#{$font-path}Medio.svg#Medio') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'PCF';
    src: url('#{$font-path}Grassetto.eot'), 
         url('#{$font-path}Grassetto.ttf') format('truetype'),
         url('#{$font-path}Grassetto.svg#Grassetto') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'PCF';
    src: url('#{$font-path}Leggero.eot'), 
         url('#{$font-path}Leggero.ttf') format('truetype'),
         url('#{$font-path}Leggero.svg#Leggero') format('svg');
    font-weight: 300;
}


*,
.navbar-brand,
h4{
    font-size: 13pt;
    line-height: 17pt;
}

@media screen and (min-width: 768px){
    *,
    .navbar-brand,
    h4{
        font-size: 14px;
        line-height: 18px;
    }

}
@media screen and (min-width: 992px){
    *,
    .navbar-brand,
    h4{
        font-size: 15px;
        line-height: 19px;
    }

   
}

@media screen and (min-width: 1200px){
    *,
    .navbar-brand,
    h4{
        font-size: 16px;
        line-height: 20px;
    }
    
}


