.navbar-fixed-bottom{
    height: 3 * $line-height-xs;
    &, .clearfix{
        padding-top: $line-height-xs/2 - 5px;
    }
    .clearfix{
        border-top: 1px solid #fff;
        width: 100%;


    }        
    div{ float: left;}
    .right{
        float: right;
        width: 198px;
    }
}

@media screen and (min-width: 768px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-sm;
        &, .clearfix{
            padding-top: $line-height-sm/2 - 5px;
        }
        .right{
            width: 3*160px;
        }
    }
}
@media screen and (min-width: 992px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-md;
        &, .clearfix{
            padding-top: $line-height-md/2 - 5px;
        }
        .right{
            width: 3*210px;
        }        
    }
}

@media screen and (min-width: 1200px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-lg;
        &, .clearfix{
            padding-top: $line-height-lg/2 - 5px;
        }
        .right{
            width: 3*220px;
        }        
    }

}

@media screen and (min-width: 2000px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-xl;
        &, .clearfix{
            padding-top: $line-height-xl/2 - 5px;
        }
        .right{
            width: 3*320px;
        }        
    }

}