.navbar-fixed-bottom{
    height: 3 * $line-height-xs + 5px;
    &, .clearfix{
        padding-top: $line-height-xs/2 - 5px;
    }
    .clearfix{
        border-top: 1px solid #fff;
        width: 100%;


    }        
    div{ float: left;}
    .right{
        float: right;
        width: 198px;
    }
}

@media screen and (min-width: 768px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-sm + 5px;
        &, .clearfix{
            padding-top: $line-height-sm/2 - 5px;
        }
        .right{
            width: $line-height-sm * $navbar-row-width * 3;
        }
    }
}
@media screen and (min-width: 992px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-md + 5px;
        &, .clearfix{
            padding-top: $line-height-md/2 - 5px;
        }
        .right{
            width: $line-height-md * $navbar-row-width * 3;
        }        
    }
}

@media screen and (min-width: 1200px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-lg + 5px;
        &, .clearfix{
            padding-top: $line-height-lg/2 - 5px;
        }
        .right{
            width: $line-height-lg * $navbar-row-width * 3;
        }        
    }

}

@media screen and (min-width: 2000px){
    .navbar-fixed-bottom{
        height: 3 * $line-height-xl + 5px;
        &, .clearfix{
            padding-top: $line-height-xl/2 - 5px;
        }
        .right{
            width: $line-height-xl * $navbar-row-width * 3;
        }        
    }

}