/* 
Ogni 219,75px aumenta di 1pt
La base massima è 22/26 a larghezza 2557px
ogni px aumenta i pt di 0,004550
L’interlinea, cioè la X = Dimensione in pt+4px 

points = pixels * 72 / 96
pixels = points * 96 / 72
*/



@mixin X($property, $size){
    $max-width: 2557px;
    $width: 359.5px;
    $pt: 12;
    @while ($pt <= 22) {
        @media screen and (min-width: $width){
            #{$property} : $size * ( $pt  + 4px) ;
        }
        $pt: $pt + 1;
        $width: $width + 219.75px;
    }
}

@mixin font-X($size){
    $max-width: 2557px;
    $width: 359.5px;
    $pt: 12;
    @while ($pt <= 22) {
        @media screen and (min-width: $width){
            font-size:    $size * ( $pt ) ;
            line-height:  $size * ( $pt  + 4px) ;
        }
        $pt: $pt + 1;
        $width: $width + 219.75px;
    }
}