.flex-align-bottom{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;

    > div { width: 100%; height: 100%;}
}

.flex-align-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    > div { width: 100%;  }
}
.full-height{ height: 100%;}
.full-width{ width: 100%;}
.thumb{
    max-width: 98% !important;
    max-height: 60%;
}
.gray-bg{
    background: rgb(192,192,192);
}


.mac-container{
    position: relative;
    /* General */
    &,.mac-frame{
        margin: auto !important;

        /* xs specific */
        width: 325px !important;
        height: 275px;

        @media screen and (min-width: $screen-xl-min){
            width: 2 * 325px !important;
            height: 2 * 275px;
        }

    }
    .mac-frame, iframe{ position: absolute;}

    .mac-frame{
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/mac-frame.png');
       
    }
    
    iframe{
        left: 8px;
        top: 26px;
        width: 308px;
        height: 159px;

        @media screen and (min-width: $screen-xl-min){
            left: 2 * 8px;
            top: 2 * 26px;
            width: 2 * 308px;
            height: 2 * 159px;
        }
    }

}

.bg-center{
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}
.bg-bottom-left{
    background-size: cover;
    background-position: 0% 100%;
    height: 100%;
}

.border-right{
    border-right: round(($line-height-xs/2 - 5px)/2) solid transparent;
    @media screen and (min-width: $screen-sm-min){
        border-right-width: round(($line-height-sm/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-md-min){
        border-right-width: round(($line-height-md/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-lg-min){
        border-right-width: round(($line-height-lg/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-xl-min){
        border-right-width: round(($line-height-xl/2 - 5px)/2);
    }
    
    background-clip: content-box;
}
.border-left{
    border-left: round(($line-height-xs/2 - 5px)/2) solid transparent;
    @media screen and (min-width: $screen-sm-min){
        border-left-width: round(($line-height-sm/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-md-min){
        border-left-width: round(($line-height-md/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-lg-min){
        border-left-width: round(($line-height-lg/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-xl-min){
        border-left-width: round(($line-height-xl/2 - 5px)/2);
    }
    background-clip: content-box;
    
}
.border-top{
    border-top: round(($line-height-xs/2 - 5px)/2) solid transparent;
    @media screen and (min-width: $screen-sm-min){
        border-top-width: round(($line-height-sm/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-md-min){
        border-top-width: round(($line-height-md/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-lg-min){
        border-top-width: round(($line-height-lg/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-xl-min){
        border-top-width: round(($line-height-xl/2 - 5px)/2);
    }
    background-clip: content-box;
}
.border-bottom{
    border-bottom: round(($line-height-xs/2 - 5px)/2) solid transparent;
    @media screen and (min-width: $screen-sm-min){
        border-bottom-width: round(($line-height-sm/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-md-min){
        border-bottom-width: round(($line-height-md/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-lg-min){
        border-bottom-width: round(($line-height-lg/2 - 5px)/2);
    }
    @media screen and (min-width: $screen-xl-min){
        border-bottom-width: round(($line-height-xl/2 - 5px)/2);
    }

    background-clip: content-box;
}

.split-view{
    height: 100%;
    > div{ height: 50%; background-clip: content-box;}
}