.no-padding{
    padding: 0 !important;
}


.capitalize{
    text-transform: capitalize;
}

.gold{
    color: gold !important;
}

[data-toggle="details"]{
    cursor: pointer;
}

.overlay{
    display: none;
}