@import 'bootstrap/variables';


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #000;
//** Global text color on `<body>`.
$text-color:            #fff;

//** Global textual link color.
$link-color:            $text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-path :              "../assets/fonts/";
$font-family-sans-serif:  "PCF" , "Helvetica Neue", Helvetica, Arial, sans-serif;

$line-height-factor: 1.1818181818;
$font-size-xs: 12pt;
$line-height-xs: round($font-size-xs * $line-height-factor);
$font-size-sm: 14px;
$line-height-sm: round($font-size-sm * $line-height-factor);
$font-size-md: 15px;
$line-height-md: round($font-size-md * $line-height-factor);
$font-size-lg: 16px;
$line-height-lg: round($font-size-lg * $line-height-factor);
$font-size-xl: 22px;
$line-height-xl: round($font-size-xl * $line-height-factor);


//== Navbar
//
//##
$navbar-inverse-bg:       $body-bg;
$navbar-inverse-border:   transparent; 
$navbar-closed-rows:      7;            
$navbar-opened-rows:      10;    
$navbar-row-width:        11;        

