<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include loader.html %}

    {% include post_header.html %}
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {{content}}
      </div>

    </div>
    <div class="carousel-counter bigger" style="display: none;"></div>
    {% include post_footer.html %}

  </body>
    {% include scripts.html %}

</html>
